*.pyc
*.nc
code/gasmodel/Results/conc_out.csv

code/gasmodel/Results/ESS524_fig1.eps

code/gasmodel/Results/ESS524_fig2.eps

Clim.csv
Dcon.csv
age.csv
ageSpin.csv
density.csv
densitySpin.csv
depth.csv
depthSpin.csv
r2.csv
r2Spin.csv
temp.csv
tempSpin.csv


*.log
*.avi
*.mov
*.png
*.eps
*.tif
*.tiff
*.epsc
*.tar
*.DS_store
*.DS_Store

docs/_build
docs/_static
docs/_templates
